.text {
  padding: 7.25rem 8rem;
  text-align: left;
  height: 100%;
  width: 100%;

  @media (max-width: 690px) {
    padding: 3rem;
    text-align: center;
  }

  &__header {
    margin-bottom: 2.5rem;
    line-height: 1.2;
    font-size: 3.6rem;
    color: $color-white;

    @media (max-width: 690px) {
      font-size: 2.9rem;
      margin-bottom: 2rem;
    }

    & span {
      color: $color-violet;
    }
  }

  &__text {
    color: $color-paragraph-main;
    font-size: 1.5rem;
    line-height: 1.7;
    padding-right: 4rem;
    margin-bottom: 6.75rem;
    @media (max-width: 690px) {
      padding: 0;
      font-size: 1.6rem;
      margin-bottom: 4rem;
    }
  }
}

.stats {
  list-style: none;
  line-height: 1.6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 690px) {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
  }

  &__item {
    &--number {
      color: $color-white;
      font-weight: 700;
      font-size: 2.5rem;
    }

    &--text {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: $color-stats;
    }
  }
}
